h1, h2{
    text-align: center;
}

td, th{
    text-align: center;
    width: 33vw;
}

.emailForm{
    background-color: lightgray;
    padding:20px;
}

.centerContainer{
    display:flex;
    justify-content: center;
}

.doubleButtonContainer{
    display:flex;
    justify-content: center;
}

.doubleButtonContainer input, a{
    margin-right: 10px;
    margin-left: 10px;
}

.imageContainerLeft{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.imageContainer{
    display:flex;
    width:100%;
    align-items: center;
    margin-bottom: 20px;
}
.imageContainer p{
    margin-left:10px;
}
.imageContainerLeft p{
    margin-right:10px;
    text-align: right;
}
.latestvideo{
    width: min(75vw, 1000px); 
    height: min(calc(75vw * 3 / 4), 750px);
}